<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectsdk"
    android:versionCode="13"
    android:versionName="1.6.2">

    <!-- Permissions for LG Cast Screen Mirroring -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permissions for LG Cast Remote Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permissions for Connect SDK -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application android:usesCleartextTraffic="true">

        <!-- LG CAST Screen Mirroring Service -->
        <service
            android:name=".service.webos.lgcast.screenmirroring.service.MirroringService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>

        <!-- LG CAST Remote Camera Service -->
        <service
            android:name=".service.webos.lgcast.remotecamera.service.CameraService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>
        </service>

    </application>

</manifest>
